 //PLACEHOLDERS
 %clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
// GENERAL STYLES
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
 
    // outline: none !important;
    &:focus {
      outline: none !important;
      outline: 0;
    }
}
a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none !important;
}
::selection {
    color: white;
    background: red;
  }

#container {
    margin: 0 auto;
    // border: solid 5px blue;
    @extend %clearfix;
}

// MENU PANEL
#panelMenu {
    width: 25%;
    border: solid 1px red;
    min-width: 400px;
    float: left;
}

button.accordion {
    // background-color: #eee;
    // color: #444;
    background-color: #333; 
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    text-transform: uppercase;
    // font-weight: bold;
}

// button.accordion.active, button.accordion:hover {
//     background-color: #ccc;
// }

button.accordion:after {
    content: '\002B';
    color: #eee;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.accordionPanel {
    user-select: none;
    padding: 0;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    div.phraseContainer {
        height: 20px;
        padding: 5px;
        background-color: #eee;
        
        &:hover {
            background-color: #ccc; 
        }

        span.phrase {
            font-size: 16px;
        }


        button.quickCopy {
            border:none;
            font-size: 16px;
            cursor: pointer;
            margin-top: -1px;
            margin-right: -1px;
            outline: 0 !important;
            line-height: 20px;
            background-color: rgba(255, 0, 0, 0.521);
            color: white;
        }
    }
   div.email {
    padding: 5px;
    background-color: #eee;
    cursor: pointer;
    &:hover {
        background-color: #ccc; 
    }
   }


}


button.quickCopy {
  
  float: right;
}




//WORKING PANEL

#panelWorking {
    border: solid 1px green;
}


//SNACKBAR
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}