#container:after, #sectionButton:after {
  content: "";
  display: table;
  clear: both; }

* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #abb2bf;
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #282c34; }
  body:focus {
    outline: none !important;
    outline: 0; }

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none !important; }

::-moz-selection {
  color: whitesmoke;
  background: rgba(97, 175, 239, 0.996); }

::selection {
  color: whitesmoke;
  background: rgba(97, 175, 239, 0.996); }

#container {
  margin: 0 auto;
  min-width: 1730px; }

#panelMenu {
  width: 25%;
  min-height: 100vh;
  float: left;
  background-color: #21252b; }

.accordion {
  background-color: #21252b;
  color: #abb2bf;
  color: #61afef;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase; }
  .accordion:hover {
    background-color: #2c313a; }

.accordion:first-child {
  color: #e5c07b; }

button.accordion:after {
  content: '\002B';
  color: #61afef;
  float: right;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif; }

.accordion:first-child:after {
  color: #e5c07b; }

button.accordion.active:after {
  content: "\2212"; }

div.accordionPanel {
  background-color: #21252b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }
  div.accordionPanel div.phraseContainer {
    height: 30px;
    padding: 5px;
    padding-left: 15px; }
    div.accordionPanel div.phraseContainer:hover {
      background-color: #2c313a; }
    div.accordionPanel div.phraseContainer span.phrase {
      font-size: 16px;
      margin-left: 5px; }
    div.accordionPanel div.phraseContainer button.quickCopy {
      border: none;
      font-size: 16px;
      cursor: pointer;
      margin-top: -1px;
      margin-right: 14px;
      outline: 0 !important;
      line-height: 20px;
      float: right;
      background-color: #e5c07b;
      color: whitesmoke;
      border-radius: 4px; }
  div.accordionPanel div.email {
    padding: 5px;
    padding-left: 20px;
    height: 30px;
    cursor: pointer; }
    div.accordionPanel div.email:hover {
      background-color: #2c313a; }

#panelWorking {
  width: 75%;
  float: right;
  height: 100vh; }

#panelWorkingContainer {
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-top: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative; }

#sectionButton {
  text-align: center; }

.buttonFinal {
  float: left;
  height: 42px;
  width: 49%;
  border: none;
  background-color: #61afef;
  color: whitesmoke;
  cursor: pointer;
  font-size: 20px; }

#buttonCopyMessage {
  float: right;
  background-color: #e5c07b; }

#subjectContainer {
  margin-top: 42px;
  position: relative;
  padding: 5px;
  background-color: #21252b;
  height: 45px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: solid 5px #c678dd; }
  #subjectContainer #subjectTitle {
    padding-left: 5px;
    line-height: 30px;
    width: 250px;
    font-size: 22px;
    float: left; }
  #subjectContainer #subjectValue {
    float: left;
    display: block;
    padding-left: 10px;
    font-size: 22px; }
    #subjectContainer #subjectValue #subject {
      line-height: 30px;
      padding-left: 5px;
      height: 30px;
      border: none;
      background-color: #2c313a;
      font-size: 22px;
      display: block;
      width: 250px; }

#textareaContainer {
  margin-bottom: 42px;
  position: relative; }

#textarea {
  font-size: 22px;
  display: block;
  border: none;
  background-color: #2c313a;
  resize: none;
  width: 100%;
  padding: 5px;
  overflow: auto;
  border: solid 5px #21252b; }

#subjectCover, #textareaCover {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none; }

#lockButton {
  position: absolute;
  font-size: 20px;
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  margin-top: -40px;
  right: 0px; }
  #lockButton #lockIcon {
    display: inline-block;
    width: 100%;
    color: #98c379; }

#sectionOptions {
  font-size: 18px;
  line-height: 40px;
  background-color: #21252b;
  padding-left: 10px; }

.rowOptions {
  display: none; }

.rowLabel {
  display: inline-block;
  width: 250px; }

.inputText {
  background-color: #2c313a;
  border: none;
  height: 30px;
  padding: 5px;
  font-size: 18px;
  width: 250px; }

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  vertical-align: middle; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  background-color: #2c313a;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  background-color: #abb2bf;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #61afef; }

input:checked + .slider:before {
  background-color: white; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #61afef;
  box-shadow: 0 0 1px #61afef; }

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px); }

.slider.round {
  border-radius: 30px; }

.slider.round:before {
  border-radius: 50%; }

.containerCheckbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.containerCheckbox:not(:first-child):not(:nth-child(2)) {
  margin-left: 20px; }

/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  background-color: #2c313a;
  border-radius: 50%; }

/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
  background-color: #61afef; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 250px;
  /* Set a default minimum width */
  margin-left: -125px;
  /* Divide value of min-width by 2 */
  color: whitesmoke;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 6px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 1;
  /* Add a z-index if needed */
  left: 50%;
  /* Center the snackbar */
  bottom: 30px;
  /* 30px from the bottom */ }

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.snackbarShow {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
  animation: fadein 0.5s, fadeout 0.5s 1s; }

.snackbargreen {
  background-color: #98c379; }

.snackbarred {
  background-color: #be5046; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
