* {
  font-family: 'Roboto Condensed', sans-serif;
  color: #abb2bf;
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:-ms-input-placeholder {
  color: #737373 !important; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  overflow-y: hidden; }
  html:focus,
  body:focus {
    outline: none !important;
    outline: 0; }

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none !important; }

::-moz-selection {
  color: whitesmoke;
  background: rgba(97, 175, 239, 0.996); }

::selection {
  color: whitesmoke;
  background: rgba(97, 175, 239, 0.996); }

#animation-container {
  z-index: 999;
  position: absolute;
  background-color: #282c34;
  height: 100%;
  width: 100%; }
  #animation-container #cover-container {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transition: 1.8s ease-in;
    -o-transition: 1.8s ease-in;
    transition: 1.8s ease-in; }
  #animation-container #image-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center; }
  #animation-container img {
    width: 100px; }

#container {
  height: 100%;
  width: 100%; }

#panelMenu {
  width: 25%;
  width: 450px;
  height: 100%;
  float: left;
  background-color: #21252b; }

.accordion {
  background-color: #21252b;
  color: #abb2bf;
  color: #61afef;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase; }
  .accordion:hover {
    background-color: #2c313a; }

.accordion:first-child {
  color: #e5c07b; }

button.accordion:after {
  content: "\25BE";
  color: #61afef;
  float: right;
  margin-left: 5px; }

.accordion:first-child:after {
  color: #e5c07b; }

button.accordion.active:after {
  content: "\25B4"; }

div.accordionPanel {
  background-color: #21252b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out; }
  div.accordionPanel div.phraseContainer {
    height: 30px;
    padding: 5px;
    padding-left: 15px; }
    div.accordionPanel div.phraseContainer:hover {
      background-color: #2c313a; }
    div.accordionPanel div.phraseContainer span.phrase {
      font-size: 16px;
      margin-left: 5px; }
    div.accordionPanel div.phraseContainer button.quickCopy {
      border: none;
      font-size: 16px;
      cursor: pointer;
      margin-top: -1px;
      margin-right: 14px;
      outline: 0 !important;
      line-height: 20px;
      float: right;
      background-color: #e5c07b;
      -webkit-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      transform: skew(-20deg); }
      div.accordionPanel div.phraseContainer button.quickCopy .quickCopyText {
        color: whitesmoke;
        display: inline-block;
        -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
        transform: skew(20deg); }
  div.accordionPanel div.email {
    padding: 5px;
    padding-left: 20px;
    height: 30px;
    cursor: pointer; }
    div.accordionPanel div.email:hover {
      background-color: #2c313a; }

#panelWorking {
  margin-left: 450px;
  height: 100%;
  padding: 42px; }

#panelWorkingContainer {
  display: block;
  width: 1080px;
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative; }

#sectionButton {
  border-bottom: solid 10px #c678dd;
  font-size: 0;
  height: 62px; }

#buttonsFinal {
  float: left; }

.buttonFinal {
  height: 42px;
  width: 266px;
  border: none;
  background-color: #61afef;
  color: whitesmoke;
  cursor: pointer;
  font-size: 20px;
  vertical-align: top;
  margin-left: 8px; }

#buttonCopyMessage {
  background-color: #e5c07b;
  margin-left: 10px; }

#buttonsTextarea {
  float: right; }

.buttonSwitchTextarea {
  height: 52px;
  width: 266px;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  font-size: 20px; }
  .buttonSwitchTextarea span {
    position: relative;
    top: -5px; }

#buttonShowBody {
  background-color: #c678dd; }

#buttonShowSignature {
  background-color: #21252b;
  margin-left: -10px; }
  #buttonShowSignature span {
    color: whitesmoke; }

.parallelogram {
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg); }

.skew-fix {
  color: whitesmoke;
  display: inline-block;
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg); }

#subjectContainer {
  position: relative;
  padding: 10px;
  padding-bottom: 0;
  background-color: #21252b;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #subjectContainer #subjectTitle {
    padding-left: 5px;
    line-height: 30px;
    width: 250px;
    font-size: 22px;
    float: left; }
  #subjectContainer #subjectValue {
    display: block;
    padding-left: 10px;
    font-size: 22px; }
    #subjectContainer #subjectValue #subject {
      line-height: 30px;
      padding-left: 5px;
      height: 30px;
      border: none;
      background-color: #2c313a;
      font-size: 22px;
      display: block;
      width: 250px; }

#textareaContainer {
  background-color: #21252b;
  margin-bottom: 42px;
  position: relative;
  padding: 10px; }

#textarea {
  font-size: 22px;
  display: block;
  border: none;
  background-color: #2c313a;
  resize: none;
  width: 100%;
  height: 226px;
  padding: 5px;
  overflow: hidden; }

#subjectCover,
#textareaCover,
#textareaCover2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none; }

#textarea2 {
  display: none;
  font-size: 22px;
  border: none;
  background-color: #2c313a;
  resize: none;
  width: 100%;
  height: 266px;
  padding: 5px;
  overflow: hidden; }

#lockButton {
  position: absolute;
  font-size: 20px;
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  margin-top: -40px;
  right: 10px; }
  #lockButton #lockIcon {
    display: inline-block;
    width: 100%;
    color: #98c379; }

#optionsTitle {
  border-bottom: solid 10px #56b6c2;
  height: 62px; }
  #optionsTitle #buttonOptionsTitle {
    margin-left: -10px;
    float: right;
    height: 52px;
    width: 266px;
    background-color: #56b6c2;
    border: none;
    color: whitesmoke;
    font-size: 20px; }
    #optionsTitle #buttonOptionsTitle span {
      position: relative;
      top: -5px;
      color: whitesmoke; }
  #optionsTitle #buttonFake {
    height: 52px;
    border: none;
    width: 30px;
    float: right;
    background-color: #282c34; }

#sectionOptions {
  font-size: 18px;
  line-height: 40px;
  background-color: #21252b;
  padding-left: 15px;
  padding-right: 15px; }

.rowOptions {
  display: none; }
  .rowOptions:first-child {
    padding-top: 5px; }
  .rowOptions:last-child {
    padding-bottom: 5px; }

.rowLabel {
  display: inline-block;
  width: 250px; }

.inputText {
  background-color: #2c313a;
  border: none;
  height: 30px;
  padding: 5px;
  font-size: 18px;
  width: 250px; }

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  vertical-align: middle; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  background-color: #2c313a;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  background-color: #abb2bf;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #61afef; }

input:checked + .slider:before {
  background-color: white; }

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #61afef;
  box-shadow: 0 0 1px #61afef; }

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px); }

.slider.round {
  border-radius: 30px; }

.slider.round:before {
  border-radius: 50%; }

.containerCheckbox {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.containerCheckbox:not(:first-child):not(:nth-child(2)) {
  margin-left: 20px; }

.containerCheckbox input {
  position: absolute;
  opacity: 0; }

.checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  background-color: #2c313a;
  border-radius: 50%; }

.containerCheckbox input:checked ~ .checkmark {
  background-color: #61afef; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.containerCheckbox input:checked ~ .checkmark:after {
  display: block; }

.containerCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  color: whitesmoke;
  text-align: center;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px; }

#snackbar.snackbarShow {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
  animation: fadein 0.5s, fadeout 0.5s 1s; }

.snackbargreen {
  background-color: #98c379; }

.snackbarred {
  background-color: #be5046; }

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 30px;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }
