 //PLACEHOLDERS
 %clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
// GENERAL STYLES

//COLORS
$bgcolor: #282c34;
$bgcolordarker: #21252b;
$bgcolorlighter: #2c313a;
$greycolor: hsl(220, 14%, 71%);
$redcolor: hsl(  5, 48%, 51%);
$redcolorbrighter: rgb(230, 50, 50);
$bluecolor: hsl(207, 82%, 66%);
$purplecolor: hsl(286, 60%, 67%);
$orangecolor:hsl( 39, 67%, 69%);
$cyancolor: hsl(187, 47%, 55%); 
$greencolor: hsl( 95, 38%, 62%);


*{
    font-family: 'Roboto Condensed', sans-serif;
    color: $greycolor;
    outline: none !important;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    // font-family: 'Montserrat', sans-serif;
    // font-family: Consolas, monaco, monospace;
    // font-family: 'Roboto Condensed', sans-serif !important;
    background-color: $bgcolor;
 
    // outline: none !important;
    &:focus {
      outline: none !important;
      outline: 0;
    }
}
a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none !important;
}
::selection {
    color: whitesmoke;
    background: rgba(97, 175, 239, 0.996); // rgba for Chrome
  }

#container {
    margin: 0 auto;
    // border: solid 5px blue;
    @extend %clearfix;
 

}

// MENU PANEL
#panelMenu {
    width: 25%;
    // border-right: solid 5px $bgcolordarker;
    // min-width: 400px;
    min-height: 100vh;
 
    float: left;
    background-color: $bgcolordarker;
}

.accordion {
    background-color: $bgcolordarker;
    color: $greycolor;
    color: $bluecolor;
    cursor: pointer;
    // padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;


    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    text-transform: uppercase;
    &:hover {
        background-color: $bgcolorlighter;
    }
}
.accordion:first-child {
    color: $orangecolor;
}


button.accordion:after {
    content: '\002B';
    color: $bluecolor;
    float: right;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.accordion:first-child:after {
    color: $orangecolor;
}


button.accordion.active:after {
    content: "\2212";
}

div.accordionPanel {
    background-color: $bgcolordarker;
    user-select: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    // color: #61aad7;
    div.phraseContainer {
        height: 30px;
        padding: 5px;
        padding-left: 15px;
  
        &:hover {
            background-color: $bgcolorlighter;
        }

        span.phrase {
            font-size: 16px;
            margin-left: 5px;
            
        }
        button.quickCopy {
            border:none;
            font-size: 16px;
            cursor: pointer;
            margin-top: -1px;
            margin-right: 14px;
            outline: 0 !important;
            line-height: 20px;
            float: right;
            background-color: $orangecolor;
            color: whitesmoke;
            border-radius: 4px; 
            &:hover {
                
            }
        }
    }
   div.email {
    padding: 5px;
    padding-left: 20px;
    height: 30px;

    cursor: pointer;
    &:hover {
        background-color: $bgcolorlighter;
    }
   }
}





//WORKING PANEL

#panelWorking {
    // border: solid 1px red;
    // min-height: 100vh;
    width: 75%;
    float: right;
    height: 100%;
}

#panelWorkingContainer {
    display: block;
    // border: solid 1px green;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}
#subjectContainer {
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    padding: 5px;
    // margin-bottom: 10px;
    background-color: $bgcolordarker;
    height: 45px;
    user-select: none;
    // padding-bottom: 10px;
    border-bottom: solid 5px $purplecolor;
    #subjectTitle {
        padding-left: 5px;
        line-height: 30px;
        width: 250px;
        font-size:22px;
        float: left;
    }
    #subjectValue {
        float: left;
        display: block;
        padding-left: 10px;
        font-size:22px;
        #subject {
            line-height: 30px;
            padding-left: 5px;
            height: 30px;
            border: none;
            background-color: $bgcolorlighter;
            // background-color: $bgcolordarker;
            font-size:22px;
            display: block;
            width: 250px;
        }
    }
}

#textareaContainer {
    margin-bottom: 50px;
    position: relative;
}


#textarea {
    font-size:22px;
    display: block;
    border: none;

    // border-bottom: solid 5px $purplecolor;
    background-color: $bgcolorlighter;
    // background-color: $bgcolordarker;
    resize: none;
    // height: 50%;
    width: 100%;
    user-select: none;
    padding: 10px;
    overflow:auto;
    border: solid 5px $bgcolordarker;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
}


#lockButton {
    font-size:20px;
    border: none;
    // border: solid 1px red; 
   
    // padding-top:5px;
    // padding-bottom: 5px;
    // padding-left: 10px;
    // padding-right: 10px;
    background-color: transparent;
    height: 40px;
    width: 40px;
    // cursor: pointer;
    float: right;
    margin-top: -40px;
 

    // &:hover #lockIcon {
    //     display: none;

    // }
    // &:hover #unlockIcon {
    //     display: inline;

    // }


    #lockIcon {
        display: inline-block;
        width: 100%;
        color: $redcolor;
        display: none;
        cursor: pointer;
    }
    #unlockIcon {
        display: inline-block;
        width: 100%;
        color: $greencolor;
        cursor: pointer;
    }


}
// #lockIcon {
//     color: $redcolor;
//     // width: 100%;
//     // height: 100%;
//     // display: block;
//     &:hover {
//         color: $greencolor;
        
//             }

// }







#sectionOptions {
    font-size: 18px;
    line-height: 40px;
    background-color: $bgcolordarker;
    padding-left: 10px;
    // border-radius: 6px;
}

#rowTitle {
    // background-color: $bgcolordarker;
}

.rowOptions {
    display: none;
}

.rowLabel {
    display: inline-block;
    width: 250px;
}


.inputText {
    background-color: $bgcolorlighter;
    border: none;
    // border-radius: 2px;
    height: 30px;
    padding: 5px;
    font-size: 18px;
    width: 250px;
}


//SWITCH
.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    vertical-align: middle;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    background-color: $bgcolorlighter;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    background-color: $greycolor;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $bluecolor;
  }
  input:checked + .slider:before {
    background-color: white;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $bluecolor;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 30px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

//CHECKBOX

  .containerCheckbox {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
//    margin-left: 15px;
}
.containerCheckbox:not(:first-child):not(:nth-child(2)) {
    margin-left: 20px;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 25px;
    width: 25px;
    // background-color: #eee;
    background-color: #ccc;
    background-color: $bgcolorlighter;
    border-radius: 50%;
 
}

/* On mouse-over, add a grey background color */
// .containerCheckbox:hover input ~ .checkmark {
//     background-color: #ccc;
// }

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
    background-color: $bluecolor;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}









#sectionButton {
    text-align: center;
};

.buttonFinal {
    display: inline-block;
    height: 50px;
    width: 150px;
    border: none;
    background-color: $bluecolor;
    color: whitesmoke;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
}
#buttonCopyMessage {
    background-color: $orangecolor;
}









//SNACKBAR
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    // background-color: #333; 
    // background-color: $greencolor;
    color: whitesmoke; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 6px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.snackbarShow {
    visibility: visible; 
   
/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s, fadeout 0.5s 1s;
}

.snackbargreen {
    background-color: $greencolor;
}
.snackbarred {
    background-color: $redcolor;
}



@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}